<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from laravel.spruko.com/dashfox/ltr/index by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Dec 2022 22:21:14 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Description" content="Dashfox - Laravel Admin & Dashboard Template">
		<meta name="Author" content="Spruko Technologies Private Limited">
		<meta name="Keywords" content="admin template, admin dashboard, bootstrap dashboard template, bootstrap 4 admin template, laravel, php framework, php laravel, laravel framework, php mvc, laravel admin panel, laravel admin panel, laravel template, laravel bootstrap, blade laravel, best php framework"/>

  
        <!-- Title -->
		<title> Admin Dashboard </title>
		<%- include('../component/cssincludes'); %> 



    </head>

    <body  class="main-body light-theme app sidebar-mini active leftmenu-color">
        
        <!-- Start Switcher -->

		<!-- End Switcher -->

        <!-- Loader -->
		<div id="global-loader">
			<img src="/publics/img/loader-2.svg" class="loader-img" alt="Loader">
		</div>
		<!-- /Loader -->

        <!-- main-sidebar -->
		<div class="app-sidebar__overlay" data-toggle="sidebar"></div>

		<!-- main-sidebar -->
		<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
		<%- include('../component/authSideMenu'); %> 
		<!-- main-sidebar -->

		<!-- main-content -->
		<div class="main-content app-content">
			<!-- main-header -->
				<%- include('../component/header',{profil:autorite,ref:13,prof:"auth"}); %>
			<!-- main-header  -->
   
			<!-- container  -->
			   <div class="container-fluid mg-t-20">
						<!-- breadcrumb  -->
							<div class="breadcrumb-header justify-content-between">
								<div class="left-content">
										<div class="content-title row row-sm mb-2">
											<h3 class="col-xl-9 pd-r-0">Hi, welcome back!</h3>
											<h3 class="col-xl-3 pd-l-0"><%- autorite.Name %></h3>
										</div>
									
									<p id="idAnn" style="display: none;"><%- autorite._id %></p>
								</div>
							</div>
							<!-- breadcrumb  -->
				</div>
                
				<!-- Container  -->
                <div class="container-fluid mg-t-20">
                    <div class="card col col-lg-8 container-fluid my-auto page page-h">
                        <div class="card-body">
                            <div class="modal-header">
                                <h3>Fill in the following fields to create an Authority</h3>
                            </div>

                        <div class="">
                            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                            <form id="myFormA" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Username</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="text" name="Name" required placeholder="userName" required>
                                        </div>
                                    </div>
                                    <div class="form-group ">
										<div class="row">
											<div class="col-md-4">
												<label class="form-label">Biographie</label>
											</div>
											<div class="col-md-8">
												<textarea class="form-control" name="bio" rows="2" placeholder="Your Biographie"></textarea>
											</div>
										</div>
									</div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Email</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="email" name="email" required placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Telephone</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="tel" name="phone" required placeholder="phone" required>
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Birthday</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control fc-datepicker hasDatepicker" type="text" name="birthday" required placeholder="Date of birth">
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Fonction</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="text" name="fonction" required placeholder="fonction" required>
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Lieudeservice</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="text" name="lieudeservice" required placeholder="lieudeservice" required>
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Profession</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="text" name="Profession" required placeholder="Profession" required>
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Address</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <input class="form-control" type="text" name="address" required placeholder="address" required>
                                        </div>
                                    </div>
                                    <div class="row row-xs align-items-center mg-b-20">
                                        <div class="col-md-4">
                                            <label class="form-label mg-b-0">Password</label>
                                        </div>
                                        <div class="col-md-8 mg-t-5 mg-md-t-0">
                                            <div class="input-group mb-3">
                                                <input class="form-control" type="password" id="password" name="password" required placeholder="password" required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fe fe-eye" onclick="togglePasswordVisibility()"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                        <label class="form-label">Select Your Faculty</label>
                                        <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                                            <select class="form-control" id="fac" name="idcampus" class="testselect2 SumoUnder" tabindex="-1">
                                                <option id="facUm" selected></option>
                                                <% for(var i=0; i < facultes.length; i++) { %>
                                                    <option value="<%= facultes[i]._id%>"><%= facultes[i].intitule %></option>
                                                <% } %>
                                            </select><br>
                                        </div><br>
            
                                        <label class="form-label">Select Your departement</label>
                                        <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                                            <select class="form-control" id="dep" name="departement" class="testselect2 SumoUnder" tabindex="-1">
                                                <option id="depUm" selected></option>
                                                <% for(var i=0; i < departement.length; i++) { %>
                                                    <option value="<%= departement[i]._id%>"><%= departement[i].intitule %></option>
                                                <% } %>
                                            </select><br>
                                        </div><br>
            
                                        <label class="form-label">Select Your type</label>
                                        <div class="SumoSelect" tabindex="0" role="button" aria-expanded="false">
                                            <select class="form-control" id="typeU" name="typeA" class="testselect2 SumoUnder" tabindex="-1">
                                                <option id="type" selected></option>
                                                <% for(var i=0; i < type.length; i++) { %>
                                                    <% if(type[i]._id != "644bca7f0368484533c6d519"){ %>
                                                        <option value="<%= type[i]._id%>"><%= type[i].type_user %></option>
                                                    <% } %>
                                                <% } %>
                                            </select><br>
                                        </div><br>
            
                                        <input class="form-control" type="file" name="avatar" placeholder="profile picture">
                                </div>
                                <div class="modal-footer">
                                    <div class="d-flex">
                                        <input class="btn ripple btn-primary form-control mg-5" type="submit" value="ADD">
                                        <input class="btn ripple btn-light form-control mg-5" onclick="goBack()" value="cancel">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
	    </div>
		<!-- main-content closed -->   

        
	<%- include('../component/scriptIncudes'); %> 

    <script>
        function goBack() {
            const urlParams = new URLSearchParams(window.location.search);
              const referenceNumber = urlParams.get('ref');

            if(referenceNumber == 1){window.location.href = "/dahsbordadmin/";}
            else if(referenceNumber == 2){window.location.href = "/annonce/";}
            else if(referenceNumber == 3){window.location.href = "/user/";}
            else if(referenceNumber == 4){window.location.href = "/lieu/";}
            else if(referenceNumber == 5.1){window.location.href = "/dahsbordadmin/";}
            else if(referenceNumber == 5.2){window.location.href = "/typeLieu";}
            else if(referenceNumber == 5.3){window.location.href = "/type_annonce";}
            else if(referenceNumber == 5.4){window.location.href = "/dahsbordadmin/";}
            else if(referenceNumber == 5.5){window.location.href = "/dahsbordadmin/";}
            else if(referenceNumber == 5.6){window.location.href = "/type_auth";}
            else if(referenceNumber == 6){window.location.href = "/dahsbordadmin/";}
            else if(referenceNumber == 7){window.location.href = "/admin/addadmin";}
            else if(referenceNumber == 8){window.location.href = "/dahsbordadmin/";}
            else if(referenceNumber == 9){window.location.href = "/auth";}
            else if(referenceNumber == 10){window.location.href = "/auth/homeAttente";}
            else if(referenceNumber == 11){window.location.href = "/auth/homeValide";}
            else if(referenceNumber == 12){window.location.href = "/auth/modifauth";}
            else if(referenceNumber == 13){window.location.href = "/auth/addauth";}
            
        }
    </script>

		<script>
            function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
              passwordInput.type = "text";
            } else {
              passwordInput.type = "password";
            }
          }
      </script>

			<!---  *************************************************** script for adding authorities ************************************************ -->
			<script>
				function showConfirmA(callback){
					swal(
						{
							title: 'Well done!',
							text: 'Authority created successfully!',
							type: 'success',
							// confirmButtonColor: '#57a94f'
						}
					)
					callback();
				}
				function redirectHomeA(){
					setTimeout( function(){
						window.location.href="/admin/addadmin";
					}, 1000)
				}
	
				$(document).ready(function() {
				  $('#myFormA').submit(function(e) {
					e.preventDefault(); // prevent form from submitting

					var formData = new FormData(this);

					$.ajax({
					  url: '<%= url%>webAut/autorite/register',
					  type: 'POST',
					  processData: false,
   				 	  contentType: false,
					  data: formData,
					  //data: $(this).serialize(),
					  success: function(data) {
						showConfirmA(redirectHomeA);
					  },
					  error: function(xhr, status, error) {
						//console.log(xhr.responseText); // handle error response
						alert("Something went wrong");
					  }
					});
				  });
				});
			</script>
</body>
<!-- Mirrored from laravel.spruko.com/dashfox/ltr/index by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Dec 2022 22:24:51 GMT -->
</html>