    <!-- main-header -->
    <div class="main-header sticky side-header nav nav-item sticky-pin" style="margin-bottom: -89px;">
        <div class="container-fluid">
            <div class="main-header-left">
                <div class="responsive-logo">
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/MYCAMPUSLOGO-color.png" class="logo-1 logo-color1" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/logo2.png" class="logo-1 logo-color2" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/logo3.png" class="logo-1 logo-color3" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/logo4.png" class="logo-1 logo-color4" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/logo5.png" class="logo-1 logo-color5" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/logo6.png" class="logo-1 logo-color6" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/logo-white.png" class="dark-logo-1" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon.png" class="logo-2 logo-color1" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon2.png" class="logo-2 logo-color2" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon3.png" class="logo-2 logo-color3" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon4.png" class="logo-2 logo-color4" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon5.png" class="logo-2 logo-color5" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon6.png" class="logo-2 logo-color6" alt="logo"></a>
                    <a href="/web/annonce/dahsbordadmin/"><img src="/publics/img/brand/favicon-white.png" class="dark-logo-2" alt="logo"></a>
                </div>
                <div class="app-sidebar__toggle d-md-none" data-toggle="sidebar">
                    <a class="open-toggle" href="#"><i class="header-icon fe fe-align-left"></i></a>
                    <a class="close-toggle" href="#"><i class="header-icons fe fe-x"></i></a>
                </div>
            </div>
            
            <div class="main-header-right">
                <div class="nav nav-item  navbar-nav-right ml-auto">
                    <div class="nav-link" id="bs-example-navbar-collapse-1">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="reset" class="btn btn-default">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button type="submit" class="btn btn-default nav-link resp-btn">
                                        <i class="fe fe-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="main-header-search ml-0 d-sm-none d-none d-lg-block">
                        <input class="form-control" id="search-input"  placeholder="Search for anything..." type="text"> <button class="btn"><i class="fas fa-search d-none d-md-block"></i></button>
                    </div>

                    <!-- **************************** dianamically and number of annonces pending NB: max 5************************* -->
                    <% var num = 0 %>
                    <% var sortedAnn = [] %>
                    <% if(annonces) { %> 
                        <% let annAttente = []; %>

                        <% for(var i=0; i < annonces.length; i++) { %>
                            <% if(annonces[i].etat == "1") { %> 
                                <% num++; %>

                                <% const currentDate = new Date(); %>
                                <% const createdAt = new Date(annonces[i].createdAt); %>
                                <% const timeDifference = currentDate - createdAt; %>
                                <% annonces[i].timeDifference = timeDifference %>

                                <% annAttente.push(annonces[i]); %>
                            <% } %>
                        <% } %>


                        <% sortedAnn = annAttente.sort(function(a, b) {
                            return a.timeDifference - b.timeDifference;
                        }); %>
                        
                        <% if(sortedAnn.length != 0) { %> 
                            <div class="dropdown nav-item main-header-notification">
                                <a class="new nav-link" href="#"><i class="fe fe-bell"></i><span class=" pulse"></span></a>
                                <div class="dropdown-menu shadow">
                                    <div class="menu-header-content bg-primary text-left d-flex">
                                        <div class="">
                                            <h6 class="menu-header-title text-white mb-0"><%= num %> new Annonces</h6>
                                        </div>
                                    </div>
                                    <div class="main-notification-list Notification-scroll ps">
                                            <% for(var i=0; i < 3; i++) { %>
                                                    <a class="d-flex p-3 border-bottom" href="#">
                                                        <div class="notifyimg bg-success-transparent">
                                                            <i class="la la-shopping-basket text-success"></i>
                                                        </div>
                                                        <div class="ml-2">
                                                            <!-- <h5 class="notification-label mb-1">New Annonce Received</h5> -->
                                                            <h6 class="mb-1"><%= sortedAnn[i].titre %></h6>
                                                            <% if( sortedAnn[i].timeDifference > 86400000 ){ %>
                                                                <% const days = Math.floor(sortedAnn[i].timeDifference / (1000 * 60 * 60 * 24)); %>
                                                                <div class="notification-subtext"><%= days %> days ago</div>

                                                            <% } else if(sortedAnn[i].timeDifference > 3600000 && sortedAnn[i].timeDifference < 86400000){ %>
                                                                <% const hours = Math.floor(sortedAnn[i].timeDifference / (1000 * 60 * 60)) % 24; %>
                                                                <div class="notification-subtext"><%= hours %> hours ago</div>

                                                            <% } else if(sortedAnn[i].timeDifference > 60000 && sortedAnn[i].timeDifference < 3600000){ %>
                                                                <% const minutes = Math.floor(sortedAnn[i].timeDifference / (1000 * 60)) % 60; %>
                                                                <div class="notification-subtext"><%= minutes %> minutes ago</div>

                                                            <% } else if(sortedAnn[i].timeDifference > 1000 && sortedAnn[i].timeDifference < 60000){ %>
                                                                <% const seconds = Math.floor(sortedAnn[i].timeDifference / 1000) % 60; %>
                                                                <div class="notification-subtext"><%= seconds %> seconds ago</div>
                                                            <% } %>
                                                        </div>
                                                        <div class="ml-auto">
                                                            <i class="las la-angle-right text-right text-muted"></i>
                                                        </div>
                                                    </a>
                                            <% } %>
                                            <div class="dropdown-footer">
                                                <a href="/annonce">VIEW ALL</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <!-- **************************** dianamically and number of annonces pending NB: max 5************************* -->

                    <div class="dropdown main-profile-menu nav nav-item nav-link">
                        <% if(profil.avatar == "none"){ %>
                            <a class="profile-user d-flex" href="#"><img alt="" src="/publics/img/profil1.png">
                                <div class="p-text d-none">
                                    <span class="p-name font-weight-bold">Mintrona Pechon</span>
                                    <small class="p-sub-text">Premium Member</small>
                                </div>
                            </a>
                            <!-- <a class="profile-user d-flex" href="#"><img alt="" src= "<%- profil %>"> -->
                        <% } else { %>
                            <a class="profile-user d-flex" href="#"><img alt="" src="<%= url %><%- profil.avatar %>"></a>
                            <!-- <a class="profile-user d-flex" href="#"><img alt="" src= "/publics/img/profil1.png"> -->
                        <% } %>

                        <div class="dropdown-menu shadow">
                                <% if(profil.avatar != "none"){ %> 
                                    <div class="main-header-profile header-img">
                                        <div class="main-img-user"><img alt="" src="<%= url %><%- profil.avatar  %>"></div>
                                        <h6><%- profil.Name  %></h6><span style="display: none;"><%- profil  %></span>
                                    </div>
                                <% } else { %>
                                    <div class="main-header-profile header-img">
                                        <div class="main-img-user"><img alt="" src="/publics/img/profil1.png"></div>
                                        <h6><%- profil.Name  %></h6><span style="display: none;"><%- profil  %></span>
                                    </div>
                                <% } %>

                                <% if(prof == "admin"){ %> 
                                    <a class="dropdown-item" href="/admin/modifprof?ref=<%- ref  %>"><i class="far fa-edit"></i> Edit Profile</a>
                                    <a class="dropdown-item" href="/admin/addadmin?ref=<%- ref  %>"><i class="far fa-clock"></i> Add an Account</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> Account Settings</a>
                                    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                                <% } else if(prof == "auth") { %>
                                    <a class="dropdown-item" href="/auth/modifauth?ref=<%- ref  %>"><i class="far fa-edit"></i> Edit Profile</a>
                                    <a class="dropdown-item" href="/auth/addauth?ref=<%- ref  %>"><i class="far fa-clock"></i> Add an Account</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> Account Settings</a>
                                    <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- main-header  -->